body > .page > .features-standard {
    min-height: max(1100px, 40vh);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	padding-block: 150px;
    overflow: hidden;
}

body > .page > .features-standard .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #08040e 0%, #150738 74%);
}

body > .page > .features-standard .waves {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

body > .page > .features-standard .waves svg {
    position: absolute;
    left: 0;
    transform: scaleY(0.5) translateY(52%);
}

body > .page > .features-standard .waves svg.top-1 {
    top: 0;
    transform: scaleY(0.5) translateY(-70%) rotate(180deg);
}

body > .page > .features-standard .waves svg:not(.top-1) {
    bottom: 0;
}

body > .page > .features-standard .content {
    width: min(95vw, 1200px);
    max-width: min(95vw, 1200px);
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap: 150px;
}

@media screen and (max-width: 1000px) {
    body > .page > .features-standard .content {
        flex-direction: column;
    }
}

body > .page > .features-standard .content .left-part lottie-player {
    height: 170px;
    width: 170px;
    margin-bottom: 20px;
}

body > .page > .features-standard .content .left-part .title {
    line-height: 40px;
    color: #FFFFFF;
    font-size: 2.5em;
    font-weight: 600;
}

@media screen and (max-width: 1000px) {
    body > .page > .features-standard .content .left-part {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    body > .page > .features-standard .content .left-part .title {
        text-align: center;
    }
}

body > .page > .features-standard .content .left-part .title .bold {
    color: #695bf5;
}

body > .page > .features-standard .content .right-part {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width: 1000px) {
    body > .page > .features-standard .content .right-part {
        max-width: min(500px, 100vw);
    }
}

body > .page > .features-standard .content .right-part .device-image {
    width: 100%;
    position: relative;
}

body > .page > .features-standard .content .right-part .device-image .shadow {
    position: absolute;
    height: 50%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 20%, transparent, transparent);
    width: 100%;
    transform: rotate(45deg) translateX(50%) translateY(-12%);
    z-index: -1;
}

@media screen and (max-width: 1000px) {
    body > .page > .features-standard .content .right-part .device-image .shadow {
        display: none;
    }
}

body > .page > .features-standard .content .right-part .device-image:first-child {
    transform: translateY(-10%);
}

body > .page > .features-standard .content .right-part .device-image:nth-child(3) {
    transform: translateY(10%);
}

body > .page > .features-standard .content .right-part .device-image img.real-image {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    body > .page > .features-standard .content .right-part .device-image {
        transform: scale(1.8);
    }
}

body > .page > .features-standard .wavy-underline {
	color: transparent;
	margin-top: -100px;
	margin-bottom: 50px;
	z-index: 1;
	text-decoration-color: #695bf5;
	text-decoration-style: wavy;
	text-decoration-line: underline;
	max-width: 80vw;
}

@media screen and (max-width: 1000px) {
	body > .page > .features-standard .wavy-underline {
		margin-top: 150px;
	}
}


body > .page > .features-standard .privacy-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
}

body > .page > .features-standard .privacy-content .top-part {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

body > .page > .features-standard .privacy-content .top-part lottie-player {
	width: 100px;
	height: 100px;
}

body > .page > .features-standard .privacy-content .top-part .title {
	color: white;
	line-height: 40px;
	font-size: 2.5em;
	font-weight: 600;
}

body > .page > .features-standard .privacy-content .top-part .title .bold {
	color: #695bf5;
}

body > .page > .features-standard .privacy-content .privacy-views {
	margin-top: 50px;
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 70vw;
	gap: 350px;
}

body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview {
	width: 50%;
	position: relative;
}

@media screen and (max-width: 1700px) {
	body > .page > .features-standard .privacy-content .privacy-views {
		gap: 0;
	}
	
	body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview.hide-on-small {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .main-image {
		width: 40vw;
	}

	body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview {
		width: auto;
	}
}

@media screen and (min-width: 800px) {
	body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .main-image {
		height: 70vh;
	}
}

body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .shadow {
    position: absolute;
    height: 50%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 20%, transparent, transparent);
    width: 100%;
    transform: rotate(45deg) translateX(50%) translateY(-12%);
    z-index: -1;
	top: 0;
}

@media screen and (max-width: 1000px) {
    body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .shadow {
        display: none;
    }
}

body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .glance-views {
	pointer-events: none;
}

body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .glance-views .view {
	width: 300px;
	z-index: 2;
	position: absolute;
	border-radius: 20px;
	border: 3px solid #100629;
}

@media screen and (min-width: 1700px) {
	body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .glance-views .view.on-small {
		display: none;
	}
}

body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .glance-views .view[data-i="0"] {
	top: 150px;
	left: -180px;
}

body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .glance-views .view[data-i="1"] {
	bottom: 20px;
	left: 150px;
}

@media screen and (max-width: 1700px) {
	body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .glance-views .view[data-i="0"] {
		z-index: -1;
		left: -150px;
	}
	body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .glance-views .view[data-i="1"] {
		z-index: -1;
		left: -150px;
	}
	body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .glance-views .view[data-i="2"] {
		left: 60%;
		top: 100px;
	}
	body > .page > .features-standard .privacy-content .privacy-views .single-privacy-preview .glance-views .view[data-i="3"] {
		left: 60%;
		bottom: 20px;
	}
}